.Chip {
    background: transparent;
    text-align: Center; 
    padding-left: 0px; 
    padding-right: 0px; 
    font-family: "Lucida Console";
    font-weight: bold; 
    font-size: 15px; 
    color: white;
    margin-bottom: 0px;
    text-shadow:1px 1px grey;
}

.Mega {
    background: transparent;
    text-align: Center; 
    padding-left: 0px; 
    padding-right: 0px; 
    font-family: "Lucida Console";
    font-weight: bold; 
    font-size: 15px; 
    color: #90f8f8;
    margin-bottom: 0px;
    text-shadow: 1px 1px grey;
}

.Giga {
    background: transparent;
    text-align: Center; 
    padding-left: 0px; 
    padding-right: 0px; 
    font-family: "Lucida Console";
    font-weight:bold; 
    font-size: 15px; 
    color: #f8c8d8;
    margin-bottom: 0px;
    text-shadow:1px 1px grey;
}

.debug {
    border: 1px solid transparent;
}

.activeTab {
    background-color: grey !important;
    color: white !important;
    border-bottom: 0px !important;
}

.inactiveTab {
    background-color: white !important;
    color: blue !important;
}

.centerContent {
    text-align: center;
}

img {
    height: 100%;
}

.chipHover:hover {
    background-color: rgb(132, 180, 36);
}