.Chip {
    background: transparent;
    text-align: Center; 
    padding-left: -1px; 
    padding-right: -1px; 
    font-family: "Lucida Console";
    font-weight: bold; 
    font-size: 14px; 
    color: white;
    margin-bottom: 0px;
    text-shadow:1px 1px grey;
}

.Mega {
    background: transparent;
    text-align: Center; 
    padding-left: -1px; 
    padding-right: -1px; 
    font-family: "Lucida Console";
    font-weight: bold; 
    font-size: 14px; 
    color: #90f8f8;
    margin-bottom: 0px;
    text-shadow: 1px 1px grey;
}

.Giga {
    background: transparent;
    text-align: Center; 
    padding-left: -1px; 
    padding-right: -1px; 
    font-family: "Lucida Console";
    font-weight:bold; 
    font-size: 14px; 
    color: #f8c8d8;
    margin-bottom: 0px;
    text-shadow:1px 1px grey;
}

.debug {
    border: 1px solid transparent;
}

.activeTab {
    background-color: blue;
}

.inactiveTab {
    color: white;
}

.centerContent {
    text-align: center;
}